/* герой */
.hero-box {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../img/Header-img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}
.hero {
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;

  color: $white-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
