/* сотрудники */
.social-networks {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;

  text-align: center;
  padding-top: 20px;
  padding-bottom: 24px;
}

.networks {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: $icons-color;
  transition: background-color $duration $timing, fill $duration $timing;
}
.networks:hover,
.networks:focus {
  background-color: $accent-color;
  fill: $white-color;
}
.networks-list:not(:last-child) {
  margin-right: 10px;
}
.team-list {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.team .team-list + .team-list {
  margin-left: 30px;
}
.team .team-list {
  width: 270px;
  background-color: $white-color;
}
.names-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: $titel-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  display: flex;
  width: 1170px;
  padding-top: 50px;
}
.our-team {
  padding-top: 94px;
}

.img-team {
  margin-bottom: 30px;
}
.section-background {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 702px;
  background-color: #f5f4fa;
}

.section-employees {
  justify-content: center;
}

.prof-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
