/* портфолио */
.work-box {
  flex-wrap: wrap;
  margin-bottom: 94px;
}
.work-list {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  color: $main-text-color;
}
.work-list .work-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 30px * 2) / 3);
  box-sizing: border-box;
  border: 1px solid #eeeeee;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}
.work-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.work-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $titel-text-color;
}
.work-product {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-top: 4px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.work-linke {
  display: inline-block;
  color: $main-text-color;
}
.portfolio-image {
  position: relative;
  overflow: hidden;
}
.text-back {
  position: absolute;
  margin: 0;
  top: 0px;
  height: 100%;
  transform: translateY(100%);

  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;

  opacity: 0;

  transition: transform, $timing $duration;
  transition: opacity, $timing $duration;
}

.work-linke:hover .text-back,
.work-linke:focus-within .text-back {
  transform: translateY(0);
}
.work-linke {
  transition: transform $duration $timing;
  transition: opacity $timing $duration;
  transition: box-shadow $timing $duration;
}
.work-linke:hover .text-back,
.work-linke:focus .text-back {
  opacity: 1;
}
.text-back:hover {
  opacity: 1;
}
.work-item .work-linke:hover,
.work-item .work-linke :focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
