$main-text-color: #757575;
$titel-text-color: #212121;
$accent-color: #2196f3;
$primary-button-bg-color: #2196f3;
$logo-web-text-color: #2196f3;
$logo-studio-text-color: #000000;
$nav-link: #212121;
$icons-color: #afb1b8;

$white-color: #ffffff;
$footer-background-color: #2f303a;
$duration: 250ms;
$timing: cubic-bezier(0.4, 0, 0.2, 1);
